.search-form{
    display: flex;
    justify-content: center;
}

.search-input{
    margin-right: 10px;
    
}

.gallery{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        padding: 0;
}

.search-photo{
    width: 340px;
}
.load-more{
    display: block;
    margin-left: auto;
    margin-right: auto;

    background-color: #03a9fc;
    padding: 5px 15px;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    border-radius: 10px;

}

.photo-card {
    flex-basis: calc((100% - 40px) / 4);
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}


.info{
    display: flex;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
